* {
    box-sizing: border-box;
}
.description {
    margin: 20px;
}


#opening-frame {
    background-color: black;
    color: white;
    font-family: 'Fira Mono', monospace;
    font-size: 40px;
    height: 100vh;
}


#chingu {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 3em;
}
#chingu-img {
    
}
#chingu-title {
    display: inline;
}