*, html, body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

iframe {
    border: none;
    height: 30vh;
    width: 20vh;
}

.description {
    margin: 20px;
}
.showcase-left {

}
.showcase-right {
    text-align: right;
}


#opening-frame {
    background-color: black;
    color: white;
    font-family: 'Fira Mono', monospace;
    font-size: 40px;
    height: 100vh;
}


#chingu {
    color: black;
    font-size: 3em;
}
#chingu-img {
    
}
#chingu-title {
    display: inline;
}


#website-showcase {
    background-color: black;
    color: white;
    font-size: 3em;
}


#design-showcase {
    background-color: white;
    color: black;
    font-size: 3em;
}


#skills {
    background-color: black;
    color: white;
    font-size: 3em;
}


#my-background {
    background-color: white;
    color: black;
    font-size: 3em;
}